.zoom {
  transition: transform 0.2s; /* Animation */
  width: 200px;
  height: 100px;
  margin: 0 auto;
}

.zoom:hover {
  transform: translate(150px, 0px) scale(3);
}

/* for IQEngine h1 title at top */
h1 a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
