div {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.zoom {
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 100px;
  margin: 0 auto;
}

.zoom:hover {
  transform: translate(150px, 0px) scale(3);
}